* {
  box-sizing: border-box;
  padding: 1px;
  margin: 0px;
}
.container {
  display: flex;
  width: 1280px;
  height: 768px;
  border: 1px solid black;
  margin: 0px;
  padding: 0px;
  background-color: rgb(10, 10, 27);
}
.leaderboard {
  width: 30%;
  color: white;
  object-fit: cover;
  display: block;
}
.carousel {
  width: 70%; 
  object-fit: cover;
  display: block;
}
img {
  width: 100%;
  height: 760px; 
  object-fit: cover;
}
.carousel {
  margin: auto;
  width: 900px; 
  height: 950px;
  object-fit: cover;
}

